@charset "UTF-8";
/* CSS Document */
*{
	box-sizing: border-box;
}
body{
	background: url("images/blackbackground13yu.jpg") no-repeat fixed top right;
	font-size: 20px;
	color:red;
}
#container{
	width: 800px;
		margin: 0 auto;
	
}
.left{
	width: 380px;
	height: 200px;
	background-color:rgba(229,221,221,1.00);
	border-radius: 25px;
float: left;
	margin: 0px 10px 0px 10px;
	padding: 30px 30px 30px 30px;
	border:solid rgba(242,73,76,1.00);
}
.right{
    width: 380px;
	height: 200px;
	background-color:rgba(229,221,221,1.00);
	border-radius: 25px;
	float: left;
	margin: 0px 0px 10px 0px;
	padding: 30px 30px 30px 30px;
	border:solid rgba(242,73,76,1.00);
}
footer{
	background-color:rgba(242,88,91,1.00);
		clear:both;
}
header >h1{
	text-align: center;
	color:black;
	
}
nav{
	
}
article a:link{
		color:rgba(240,5,9,1.00);
	}
article a:hover{
	font-size: 20px;
}
article a:visited{
	color:cornflowerblue
}
article a:active{
	color:aqua
}
.inria-sans-light {
  font-family: "Inria Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.inria-sans-regular {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inria-sans-bold {
  font-family: "Inria Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.inria-sans-light-italic {
  font-family: "Inria Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.inria-sans-regular-italic {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.inria-sans-bold-italic {
  font-family: "Inria Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}
nav{
	margin:0 25px 30px 0;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: red;
}
nav li {
	float: left;
}
nav li a {
	display: block;
	color:aliceblue;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
nav li a:hover:not(.active) {
	background-color:cornflowerblue;
}




